.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  max-width: 100rem;
  margin: 6rem;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}